.col-md-6 .card{
    border-radius: 15%;
}

.img-cover{
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

@media (min-width:321px) and (max-width: 770px)
{
 #logo
 {
  height:80px;
  width:80px;
 }
}