<div class="container-fluid bg-footer">
    <div class="container-fluid">
        <div class="row footer-info text-center p-4">
            <div class="col-md-6">
                <h4 class="info-title"><i class="fas fa-phone-alt"></i> Telefonos:</h4>
                <p class="info-description user-select-all">
                    +502 5700 8219 </p>
                <p class="info-description user-select-all">
                    +502 xxxx xxxx
                </p>   
            </div>
            <div class="col-md-6">
                <h4 class="info-title"><i class="far fa-envelope"></i> Correo de contacto:</h4> 
                <p class="info-description user-select-all">luisguerra@repinta.gt</p>
            </div>
        </div>
    </div>
    <div class="container-fluid p-4 border-top border-white">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="text-center text-white">
                    <p>
                        <img [src]="repintaLogo" alt="" height="50px" width="50px"> Repinta® 2021 todos los derechos reservados
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>