<div class="container-fluid bg-footer">
    <div class="container-fluid">
        <div class="row footer-info text-center p-4">
            <div class="col-md-6">
                <div class="info-parent">
                    <h4 class="info-title"><i class="fas fa-phone-alt"></i> Telefonos:</h4>
                    <p class="info-description user-select-all">
                        <a class="goto" href="tel:+50257008219">+502 5700 8219</a></p>
                    <p class="info-description user-select-all">
                        +502 xxxx xxxx
                    </p>
                </div>  
            </div>
            <div class="col-md-6">
                <h4 class="info-title"><i class="far fa-envelope"></i> Correo de contacto:</h4> 
                <p class="info-description user-select-all"><a class="goto"
                     href="mailto:luisguerra@repinta.gt">luisguerra@repinta.gt</a></p>
            </div>
        </div>
    </div>
    <div class="container-fluid p-4 border-top border-white">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="text-center text-white">
                    <p>
                        <img [src]="repintaLogo" alt="" height="50px" width="50px"> Repinta® 2021 todos los derechos reservados
                        |<a href="https://github.com/OmarLetona14" target="_blank">
                            Developed by <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>