<div class="container-fluid p-4">
    <h2 class="text-center">Trabajos realizados en Intecap</h2>
    <hr>
    <div class="card-group">
        <div class="card border-0" style="background-color: transparent;">
            <div class="card-body border-0">
                <img class="card-img-bottom rounded" src="https://firebasestorage.googleapis.com/v0/b/repinta-7d160.appspot.com/o/repinta_02.jpeg?alt=media&token=84b4a0db-f203-4a10-bf04-18db66e06c6a" alt="" >
            </div>
        </div>
        <div class="card border-0" style="background-color: transparent;">
            <div class="card-body border-0">
                <img class="card-img-bottom rounded" src="https://firebasestorage.googleapis.com/v0/b/repinta-7d160.appspot.com/o/repinta_01.jpeg?alt=media&token=2c7017d7-21c5-462e-803d-c9aca0da4c2f" alt="" >
            </div>
        </div>
        <div class="card border-0" style="background-color: transparent;">
            <div class="card-body border-0">
                <img class="card-img-bottom rounded" src="https://firebasestorage.googleapis.com/v0/b/repinta-7d160.appspot.com/o/repinta_04.jpeg?alt=media&token=cd141634-5bec-4a45-9806-16ce22673fe1" alt="" >
            </div>
        </div>
    </div>
</div>
