<ngx-spinner bdColor = "rgba(116,114,114,0.8)" size = "medium" color = "#fff" type = "ball-circus" [fullScreen] = "false" 
template = 
"<div class='container '>
    <div class='row'>
        <img width='275px' height='100px' src='https://firebasestorage.googleapis.com/v0/b/repinta-7d160.appspot.com/o/repinta_nobg_logo_croped.png?alt=media&token=50948fdc-a5ca-4d6d-afc7-078763abb6fe'>
    </div>
    <div style='display: flex;
    justify-content: center;
    align-items: center;'>
        <div class='spinner-border' style='position:relative;
        color: #ECA210;'></div>
    </div>
</div>">
</ngx-spinner>


