<div class="container-fluid">
    <div class="title-centered">
        <h1 class="text-center page-title">
            Conoce nuestro trabajo <hr class="separator">
        </h1> 
    </div>
    <div class="row p-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-img">
                    <div class="imgBx">
                        <img src="https://firebasestorage.googleapis.com/v0/b/repinta-7d160.appspot.com/o/cine_01.jpg?alt=media&token=7271fd8f-88d0-4590-abed-8ca399ea8809" alt="">
                    </div>
                    <div class="card text-wrap">
                        <div class="details ">
                            <h2>Trabajos realizados en x lugar</h2>
                            <p>Some description</p><br>
                            <button class="btn btn-sm btn-outline-primary rounded-pill btn-block"> Ir a la galeria </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-wrap">
                <div class="card-img">
                    <div class="imgBx">
                        <img src="https://firebasestorage.googleapis.com/v0/b/repinta-7d160.appspot.com/o/repinta_03.jpeg?alt=media&token=e4a9f900-c463-4f11-ba2d-5ed16c92c095" alt="">
                    </div>
                    <div class="details">
                        <h2>Trabajos realizados en x lugar</h2>
                        <p>Some description</p><br>
                        <button class="btn btn-sm btn-outline-primary rounded-pill btn-block"> Ir a la galeria </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-6">
            <div class="card text-wrap">
                <div class="card-img">
                    <div class="imgBx">
                        <img src="https://firebasestorage.googleapis.com/v0/b/repinta-7d160.appspot.com/o/repinta_02.jpeg?alt=media&token=84b4a0db-f203-4a10-bf04-18db66e06c6a" alt="">
                    </div>
                    <div class="details">
                        <h2>Trabajos realizados en x lugar</h2>
                        <p>Some description</p><br>
                        <button class="btn btn-sm btn-outline-primary rounded-pill btn-block"> Ir a la galeria </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-wrap">
                <div class="card-img">
                    <div class="imgBx">
                        <img src="https://firebasestorage.googleapis.com/v0/b/repinta-7d160.appspot.com/o/repinta_03.jpeg?alt=media&token=e4a9f900-c463-4f11-ba2d-5ed16c92c095" alt="">
                    </div>
                    <div class="details">
                        <h2>Trabajos realizados en x lugar</h2>
                        <p>Some description</p><br>
                        <button class="btn btn-sm btn-outline-primary rounded-pill btn-block"> Ir a la galeria </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
