<div class="col-md-6 p-4 text-center" *ngFor="let s of services">
    <div class="card rounded shadow-lg">
        <div class="card-header">
            <h2>
                <ng-template #imgContainer>
                    <img src="{{s.identifierSource}}" width="35px" height="35px">
                </ng-template>
                <ng-container *ngIf="s.identifierType == 'icon' ;else imgContainer">
                    <i class="{{s.identifierSource}}"></i>
                </ng-container>
                {{s.serviceName}}
            </h2>
        </div>
        <div class="card-body">
            <img class="card-img-bottom" src="{{s.imageURL}}" alt="">
            <p>{{s.serviceDescription}}</p>
        </div>
    </div>
</div>