<div class="row text-center">
    <div class="col-md-6 p-4">
        <div class="card rounded shadow-lg">
            <div class="card-header">
                <h2><i class="fas fa-paint-roller"></i> Servicios de pintura</h2>
            </div>
            <div class="card-body">
                <img class="card-img-bottom" src="https://kknd26.ru/images/no_photo.png" alt="">
                <p>Aca iria alguna descripcion mamalona de los servicios</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-4">
        <div class="card rounded shadow-lg">
            <div class="card-header">
                <h2><i class="fas fa-cloud-rain"></i> Impermeabilización</h2>
            </div>
            <div class="card-body">
                <img class="card-img-bottom" src="https://kknd26.ru/images/no_photo.png" alt="">
                <p>Aca iria alguna descripcion mamalona de los servicios</p>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-6 p-4">
        <div class="card rounded shadow-lg">
            <div class="card-header">
                <h2><i class="fas fa-toolbox"></i> Cielo falso</h2>
            </div>
            <div class="card-body">
                <img class="card-img-bottom" src="https://kknd26.ru/images/no_photo.png" alt="">
                <p>Aca iria alguna descripcion mamalona de los servicios</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-4">
        <div class="card rounded shadow-lg">
            <div class="card-header">
                <h2><i class="fas fa-hammer"></i> Tabiques de tabla yeso</h2>
            </div>
            <div class="card-body">
                <img class="card-img-bottom" src="https://kknd26.ru/images/no_photo.png" alt="">
                <p>Aca iria alguna descripcion mamalona de los servicios</p>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-6 p-4">
        <div class="card rounded shadow-lg">
            <div class="card-header">
                <h2><img src="https://img.icons8.com/ios/50/000000/wooden-floor--v2.png" width="35px" height="35px"/> Instalacion de piso</h2>
            </div>
            <div class="card-body">
                <img class="card-img-bottom" src="https://kknd26.ru/images/no_photo.png" alt="">
                <p>Aca iria alguna descripcion mamalona de los servicios</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-4">
        <div class="card rounded shadow-lg">
            <div class="card-header">
                <h2><img src="https://img.icons8.com/wired/64/000000/closed-window.png" width="35px" height="35px"/>Ventaneria</h2>
            </div>
            <div class="card-body">
                <img class="card-img-bottom" src="https://kknd26.ru/images/no_photo.png" alt="">
                <p>Aca iria alguna descripcion mamalona de los servicios</p>
            </div>
        </div>
    </div>
</div>