body{
/*
    background: rgb(83,86,84); 
    background: -moz-linear-gradient(top,  rgba(83,86,84,1) 56%, rgba(117,114,116,1) 99%); 
    background: -webkit-linear-gradient(top,  rgba(83,86,84,1) 56%,rgba(117,114,116,1) 99%); 
    background: linear-gradient(to bottom,  rgba(83,86,84,1) 56%,rgba(117,114,116,1) 99%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535654', endColorstr='#757274',GradientType=0 );
    
    min-height: 100%;
    margin: 0;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('./assets/iron-bgimage.jfif');
}

html {
    min-height: 100%;
    margin: 0;
}

hr{
    border-top: 5px solid #ECA210;
}